@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>

<title>Companie Sites</title>
<link rel="icon" type="image/x-icon" href="images/LOGO.jpg">

@* <link rel="stylesheet" href="CSS/style2.css"> *@



<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>    
<body>
    

<h1>
    <link rel="icon" type="image/x-icon" href="images/LOGO.jpg">








    <div class="style">
    <li class="login"><a href="login.html"> Login</a></li>

    <li class="register"><a href="register.html"> Register</a></li>
    </div>

</ul>
</h1>
<!--     
    <div class="style">
           <a href="login.html"><input class="listbtn1" type="button"name ="REGISTER" id="register"
        value="LOGIN" ></a>
            
           <a href="register.html"><input class="listbtn2" type="button"name ="REGISTER" id="register"
            value="REGISTER" ></a>   </div>  
         
     -->
    
     
     <h2>Top Companies are Hiring You</h2>
  
  </div>

  <style>
  
   <div class = "container">
        
        <div class="conchild">
         <i class="material-icons">home</i>
        <p> <a href="mnc.html">MNC</a></p>
         <i class="material-icons">chevron_right</i>
         </div>


         <div class="conchild1">
            <i class="material-icons">location_city</i>
           <p> <a href="remotejobs.html">Remote</a></p>
            <i class="material-icons">chevron_right</i>
            </div>

         <div class="conchild2">
            <i class="material-icons">playlist_play</i>
            <p> <a href="datascience">Datascience</a></p>
            <i class="material-icons">chevron_right</i>
                </div>

          <div class="conchild3">
                <i class="material-icons">trending_up</i>
                <p> <a href="marketing.html">Marketing</a></p>
                <i class="material-icons">chevron_right</i>
                </div>
           
    </div>

</body>
</html>