@{
    ViewData["Title"] = "Home Page";
}

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
<section class="h-100 h-custom" style="background-color: #8fc4b7;">
<form action = "RegisterDB" method = "post">
    
   <center>
   <h1> Register Here </h1></center>
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  

  
  <div class="row d-flex justify-content-center align-items-center h-100">
  
  <div class="w-25 p-3">
  <div class="mb-3">
    <label for="exampleInputFname" class="form-label">First Name</label>
    <input type="text" class="form-control" name="FirstName" id="exampleInputFname1" >
  </div>
  <div class="mb-3">
    <label for="exampleInputMname1" class="form-label">Middle Name</label>
    <input type="text" class="form-control"  name="MiddleName" id="exampleInputMname1">
  </div>

  <div class="mb-3">
    <label for="exampleInputLname" class="form-label">Last Name</label>
    <input type="text" class="form-control" name="LastName" id="exampleInputLname" >
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" name="Email" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>

  <div class="mb-3">
    <label for="exampleInputLname" class="form-label">Password</label>
    <input type="text" class="form-control" name="Password" id="exampleInputLname" >
  </div>

  <div class="mb-3">
    <label for="exampleInputphn1" class="form-label">phone Number</label>
    <input type="tel" class="form-control" name="PhnNumber" id="exampleInputphn1"  value="">
  </div>

  <div class="mb-3">
    <label for="exampleInputdob1" class="form-label">DOB</label>
    <input type="Date" class="form-control"  name="DOB" id="exampleInputdob1" >
  </div>

  <div class="mb-3">
    <label for="exampleInputlocation1" class="form-label">Location</label>
    <input type="text" class="form-control" name="Location" id="exampleInputlocation1" >
  </div>

  @* <div class="mb-3">
  <lable for="Gender">Gender:</lable>
<br>
<input type="radio" name="Gender" id="Male" value="Male">
<input type="radio" name="Gender"id="Female" value="female"> 
<br> *@

  <div class="mb-3">
    <label for="exampleInputqualification1" class="form-label" >Qualification</label>
    
       <select class="form-select" name ="Qualification" aria-label="Default select example">
          <div class="text center">
          <option selected>---select---</option></div>
          <option value="UG">UG</option>
          <option value="PG">PG</option>
          <option value="Diploma">Diploma</option>
      </select>
  </div>

  
<br>

  <div class="mb-3">
    <label for="exampleInputcertificate1" class="form-label">Certificate</label>
    <input type="file" class="form-control"  id="exampleInputcertificate1" >
  </div>
  
  <button type="submit" class="btn btn-primary">Register Now</button>
  
  </div></div></div>

</form>